<% content_for :meta_title, "About Us • #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Our software enables mobile healthcare services to schedule or dispatch on-demand the right professional to perform the right care at the right time and place." %>

<header class="hero fade-in">
  <div class="caption">
    <p className="large color-quartz">Company</p>
    <h3>Enabling healthcare where and when it's needed most.</h3>
  </div>
  <div class="image">
    <%=image_tag "hero_company@2x.png", alt: "Nurse on a house call" %>
  </div>
</header>

<div class="columns columns--wrap">
  <div class="column column--75">
    <h5>Workpath is on a mission to re-invent the house call, enabling healthcare providers to deliver care when and where it's needed most.</h5>
  </div>
</div>


<div class="columns">
  <div class="column padding-right-medium">
    <p class="large">
      Today, a wide variety of mobile healthcare companies leverage
      Workpath’s HIPAA-compliant platform to cut costs, ensure compliance,
      and improve patient satisfaction. Services as diverse as in-home
      primary care, on-demand diagnostic imaging, and mobile paramedical
      insurance exams, among others, rely on Workpath.
    </p>
  </div>
  <div class="column padding-right-medium">
    <p class="large">
      For tomorrow, as patient demands continue to push the healthcare
      industry to decentralize, Workpath is partnering with innovative
      companies to make a patient-centric future seamless. With Workpath’s
      technology, a day where a patient has blood drawn at their place of
      work, receives a nurse visit at their home, and has their
      prescription delivered to their front door while tracking its
      progress on their smartphone, is within reach.
    </p>
  </div>
</div>

<section class="breakout margin-medium roadblock--company">
  <div class="columns">
    <div class="column column--50">
      <h5 class="color-fog display">
        We're purpose driven. We come to the table with a set of <span class="color-quartz"> core values</span> that drive
      everything we do.
      </h5>
    </div>
  </div>
</section>

<div class="columns columns--center-items columns--wrap">

  <%= react_component("BioCard", { image: "eddie", name: "Eddie Peloke", title: "CEO", shortbio: "Eddie is an accomplished executive with over 19 years of experience across privately owned and publicly traded businesses in leadership, strategic planning, project management, and technology.
  
  His technology experience ranges from building enterprise software to e-commerce and mobile platforms.
  
  Outside of the office, Eddie enjoys spending time with family, watching sports, listening to podcasts and a good sambal chili sauce.
", linkedin: "https://www.linkedin.com/in/epeloke/" }) %>

  <%= react_component("BioCard", { image: "hunter", name: "Hunter Byrnes", title: "Head of Customer Success & Strategy", shortbio: "Hunter works with our customers to ensure Workpath’s tech is helping them improve healthcare and provide the best possible patient experience. 
  
  Prior to Workpath, he held roles in healthcare operations and policy and earned his Master of Health Administration from Virginia Commonwealth University. 
  
  Outside of the office, Hunter enjoys vacationing at the beach, spending time on the water, and summertime cookouts.", linkedin: "https://www.linkedin.com/in/hunter-byrnes/" }) %>

  <%= react_component("BioCard", { image: "cameron", name: "Cameron Hall", title: "Head of Product", shortbio: "Cameron works with patients and healthcare providers to find what they need most, then partners with the design and development team to build an unparalleled experience. 
  
  Prior to Workpath, he built tech products in healthcare, banking, manufacturing, and e-commerce at startups and large organizations. 
  
  Outside of the office, Cameron loves hiking, biking, and soccer. He also loves teaching and creating through art and film.
", linkedin: "https://www.linkedin.com/in/cameron-hall-va/" }) %>

  <%= react_component("BioCard", { image: "annie", name: "Annie Medina", title: "Head of Healthcare Partnerships", shortbio: "Annie Medina, MBA, ACNP-BC is a practicing Nurse Practitioner who, at Workpath, works with healthcare providers seeking to innovate around mobile care delivery, including house calls and other flexible forms of care.

  Prior to Workpath, Annie served as interim EVP at OPEN MINDS Circle, a healthcare consulting firm, as COO of Poplar Springs Hospital, and as a consultant to Mindstrong, a venture-backed tech company dedicated to preemptive brain healthcare.

  Outside of the office, Annie loves the sound of waves, time with her children, and travel.
  ", linkedin: "https://www.linkedin.com/in/damedina25/" }) %>

  <%= react_component("BioCard", { image: "hunterp", name: "Hunter Pechin", title: "Head of Marketing", shortbio: "Hunter leads marketing for Workpath.

  Prior to Workpath, he held marketing roles at start-ups and multinational corporations. He began his career in non-profit fundraising.

  Outside of the office, Hunter enjoys hiking, trail running, and chasing his two small children.", linkedin: "https://www.linkedin.com/in/hunterpechin/" }) %>

  <%= react_component("BioCard", { image: "mitchell", name: "Mitchell Murray", title: "Head of Sales", shortbio: "Mitchell works with prospective and existing customers to maximize the value they realize from the Workpath platform.

  Prior to Workpath, Mitchell worked for various SaaS companies. At companies like POLITICO and Cvent, Mitchell worked closely with customers to ensure their success and continued account growth.

  Outside of the office, Mitchell enjoys cooking, running, and spending time with his family.", linkedin: "https://www.linkedin.com/in/mitchell-murray-99871585/" }) %>

  <%= react_component("BioCard", { image: "nick", name: "Nick Jones", title: "Product Design & UX Lead", shortbio: "As product design and UI/UX lead, Nick ensures Workpath is building the best experiences for patients and providers, now and into the future.
  
  Prior to Workpath, he worked on the UI/UX for PBS NewsHour, EventFarm, and CustomInk where he led product design. He also co-founded and operated a product consultancy serving enterprise and startup clients.
  
  Outside of the office, Nick is a musician, food nerd, writer and dad of two girls who loves the ocean and the mountains.", linkedin: "https://www.linkedin.com/in/nick-jones-29955459/" }) %>

  <%= react_component("BioCard", { image: "andrea", name: "Andrea Hoover", title: "Account Manager", shortbio: "Andrea is the dedicated Account Manager for existing customers assisting with training, troubleshooting, and renewals.
  
  Prior to Workpath, she was a Customer Success Representative at an independent software vendor, AvePoint. 
  
  Outside of the office, you can find Andrea with camera in hand pursuing her love of photography.", linkedin: "https://www.linkedin.com/in/andrea-hoover-9aaa80b7/" }) %>

  <%= react_component("BioCard", { image: "justin", name: "Justin Rutherford", title: "Developer", shortbio: "Justin is a software engineer who helps develop the front and back-end solutions that allow healthcare providers to best serve patients in their homes or workplaces. 
  
  Prior to Workpath, Justin was a retail manager and software developer.", linkedin: "https://www.linkedin.com/in/justin-rutherford-5480a133/" }) %>

  <%= react_component("BioCard", { image: "emily", name: "Emily Murphy", title: "Developer", shortbio: "As head of QA, Emily tests the Workpath apps to ensure our product is ready for patients and providers to use. 
  
  Before Workpath, Emily was a line cook at Brenner Pass and Shagbark, two restaurants in Richmond. 
  
  Outside of work Emily enjoys collecting records, reading Sci-Fi novels, and game building.", linkedin: "https://www.linkedin.com/in/devemilymurphy/" }) %>

  <%= react_component("BioCard", { image: "jeremy", name: "Jeremy Remington", title: "IT Infrastructure Specialist", shortbio: "Jeremy manages Workpath’s local IT infrastructure and security and provides first-contact customer support. He has been involved with IT both in and out of healthcare for over 20 years. 
  
  Outside of work, Jeremy enjoys spending time with his family and an array of hobbies.", linkedin: "https://www.linkedin.com/in/jreming/" }) %>

  <%= react_component("BioCard", { image: "elliott", name: "Elliott Pogue", title: "Developer", shortbio: "Elliott is a software engineer building the Workpath experience. 
  
  Prior to Workpath, he designed and coded custom applications and websites. Outside of work, Elliott likes to game, mess around with DIY tech, cook, and find good beers.", linkedin: "https://www.linkedin.com/in/elliott-pogue-a4066661/" }) %>

  <%= react_component("BioCard", { image: "ryan", name: "Ryan Stimmler", title: "Developer", shortbio: "Ryan is a software engineer who contributes to the code powering Workpath and keeps everyone pushing forward to implement a new and improved experience. 
  
  Prior to Workpath, Ryan worked as the lead developer for a graphic design agency. 
  
  Outside of the office, Ryan enjoys cooking, running, and spending time with his family.", linkedin: "https://www.linkedin.com/in/ryan-stimmler-20082aa/" 
  }) %>
  
  <%= react_component("BioCard", { image: "louie", name: "Louie Cheung", title: "Developer", shortbio: "Louie is a software engineer who helps build and maintain the Workpath tech that ensures seamless communication between mobile healthcare providers and their patients. 
  
  Prior to his current role, he was in QA, ensuring products and experiences were delivered to spec." }) %>


  <%= react_component("BioCard", { image: "luke", name: "Luke Atwood", title: "Head of Finance", shortbio: "Luke holds a CPA license and keeps the finance, human resources, and admin functions running smoothly at Workpath.

  Prior to Workpath, Luke led business process improvement projects and performed audits for a publicly-traded telecom company.

  Outside of the office, Luke enjoys traveling, refereeing high school and college basketball, and exploring the outdoors.
  ", linkedin: "https://www.linkedin.com/in/lukeatwood/" }) %>

  <%= react_component("BioCard", { image: "ashley", name: "Ashley Wilson", title: "Developer", shortbio: "Ashley is a software engineer who helps ensure the Workpath user experience is fast and flawless.

  Prior to Workpath, she worked as a bartender, public high school math teacher, and for a tech consulting company.

  Outside of the office, Ashley volunteers as a teacher at an online school and enjoys reading, cross stitching, and playing Dungeons and Dragons.
  ", linkedin: "https://www.linkedin.com/in/ashleywilson18/" }) %>

</div>