<% content_for :meta_title, "About Us • #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Our software enables mobile healthcare services to schedule or dispatch on-demand the right professional to perform the right care at the right time and place." %>

<header class="hero fade-in">
  <div class="caption">
    <p className="large color-quartz">Company</p>
    <h3>Enabling healthcare where and when it's needed most.</h3>
  </div>
  <div class="image">
    <%=image_tag "hero_company@2x.png", alt: "Nurse on a house call" %>
  </div>
</header>

<div class="columns">
  <div class="column padding-right-medium">
    <p class="large">
      Today, a wide variety of mobile healthcare companies leverage
      Workpath’s HIPAA-compliant platform to cut costs, ensure compliance,
      and improve patient satisfaction. Services as diverse as in-home
      primary care, on-demand diagnostic imaging, and mobile paramedical
      insurance exams, among others, rely on Workpath.
    </p>
  </div>
  <div class="column padding-right-medium">
    <p class="large">
      For tomorrow, as patient demands continue to push the healthcare
      industry to decentralize, Workpath is partnering with innovative
      companies to make a patient-centric future seamless. With Workpath’s
      technology, a day where a patient has blood drawn at their place of
      work, receives a nurse visit at their home, and has their
      prescription delivered to their front door while tracking its
      progress on their smartphone, is within reach.
    </p>
  </div>
</div>

<div class="columns margin-y-xlarge">
  <div class="column column--66">
    <h5>
      We're purpose driven. We come to the table with a set of <span class="color-quartz"> core values</span> that drive
      everything we do. Our software enables mobile healthcare services to schedule or dispatch on-demand the right professional to perform the right care at the right time and place.
    </h5>
  </div>
</div>

<div class="columns columns--wrap margin-bottom-large">
  <div class="column column--50 margin-bottom-small">
    <h5>Grit...no ego.</h5>
    <p class="large">
      Workpath has grit. We are continuously moving forward, developing
      new solutions, improving the customer’s experience, and making a
      difference in the community. There's no room for ego.
    </p>
  </div>
  <div class="column column--50 margin-bottom-small">
    <h5>No fine print.</h5>
    <p class="large">
      We take pride in providing the highest value technology possible
      with no fine print. We're straightforward and stand firmly behind
      our products to ensure absolute customer satisfaction, repeat
      clientele, and a connected community.
    </p>
  </div>
  <div class="column column--50 margin-bottom-small">
    <h5>Create value everywhere.</h5>
    <p class="large">
      Workpath believes we’re all creators of value. We don’t wait for
      opportunities, we put ourselves out there and look for ways to
      create massive value in every environment we enter. Workpath
      actively plants seeds, builds relationships, and always looks for
      ways to make an impact everywhere.
    </p>
  </div>
  <div class="column column--50 margin-bottom-small">
    <h5>Effortless experience.</h5>
    <p class="large">
      We strive to make our technology effortless. Workpath is committed
      to helping customers simplify complexities to optimize their
      workforce and create better experiences. Our platform, and our
      customer service, is driven by a desire to make it easy for
      customers to get the tools, services, and experiences they want at
      all times.
    </p>
  </div>
  <div class="column column--50 margin-bottom-small">
    <h5>Radical candor.</h5>
    <p class="large">
      We care personally and deeply, and because of that – we challenge
      directly. We look for ways to help, provide feedback constructively,
      and interact in a way that is transformative to our team and our
      clients. Because of this, we always look for ways to grow as people
      and as a brand.
    </p>
  </div>
  <div class="column column--50 margin-bottom-small">
    <h5>Sound like you? Join us.</h5>
    <p class="large">
      Take a look at our current career listings and join us as we change
      the way healthcare orgs and providers get things done.
    </p>
  </div>
</div>

<div class="columns columns--center-items columns--wrap margifigure-xlarge">
  <figure class="column column--33 align-center padding-bottom-medium">
    <%=image_tag "team/eddie.png", class: "avatar" %>
    <p>Eddie Peloke</p>
    <p class="small color-quartz">CEO</p>
  </figure>
  <figure class="column column--33 align-center padding-bottom-medium">
    <%=image_tag "team/annie.png", class: "avatar" %>
    <p>Annie Medina</p>
    <p class="small color-quartz">Product Manager</p>
  </figure>
  <figure class="column column--33 align-center padding-bottom-medium">
    <%=image_tag "team/hunter.png", class: "avatar" %>
    <p>Hunter Byrnes</p>
    <p class="small color-quartz">Business Development</p>
  </figure>
  <figure class="column column--33 align-center padding-bottom-medium">
    <%=image_tag src="team/luke.png", class: "avatar" %>
    <p>Luke Atwood</p>
    <p class="small color-quartz">Business Development</p>
  </figure>
  <figure class="column column--33 align-center padding-bottom-medium">
    <%=image_tag "team/mitchell.png", class: "avatar" %>
    <p>Mitchell Murray</p>
    <p class="small color-quartz">Business Development</p>
  </figure>
  <figure class="column column--33 align-center padding-bottom-medium">
    <%=image_tag "team/andrea.png", class: "avatar" %>
    <p>Andrea Hoover</p>
    <p class="small color-quartz">Account Manager</p>
  </figure>
  <figure class="column column--33 align-center padding-bottom-medium">
    <%=image_tag "team/nick.png", class: "avatar" %>
    <p>Nick Jones</p>
    <p class="small color-quartz">UI/UX</p>
  </figure>
  <figure class="column column--33 align-center padding-bottom-medium">
    <%=image_tag "team/ryan.png", class: "avatar" %>
    <p>Ryan Stimmler</p>
    <p class="small color-quartz">Developer</p>
  </figure>
  <figure class="column column--33 align-center padding-bottom-medium">
    <%=image_tag "team/jeremy.png", class: "avatar" %>
    <p>Jeremy Remington</p>
    <p class="small color-quartz">IT Infrastructure Specialist</p>
  </figure>
  <figure class="column column--33 align-center padding-bottom-medium">
    <%=image_tag "team/elliott.png", class: "avatar" %>
    <p>Elliott Pogue</p>
    <p class="small color-quartz">Developer</p>
  </figure>
  <figure class="column column--33 align-center padding-bottom-medium">
    <%=image_tag "team/louie.png", class: "avatar" %>
    <p>Louie Cheung</p>
    <p class="small color-quartz">Developer</p>
  </figure>
  <figure class="column column--33 align-center padding-bottom-medium">
    <%=image_tag "team/justin.png", class: "avatar" %>
    <p>Justin Rutherford</p>
    <p class="small color-quartz">Developer</p>
  </figure>
  <figure class="column column--33 align-center padding-bottom-medium">
    <%=image_tag "team/emily.png", class: "avatar" %>
    <p>Emily Murphy</p>
    <p class="small color-quartz">Developer</p>
  </figure>
  <figure class="column column--33 align-center padding-bottom-medium">
    <%=image_tag "team/ashley.png", class: "avatar" %>
    <p>Ashley Wilson</p>
    <p class="small color-quartz">Developer</p>
  </figure>
</div>