<% content_for :meta_title, "home | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "The only dispatch platform for mobile healthcare services.Manage your mobile team, win more work, and dramatically improve patient experience." %>

<header class="hero fade-in">
  <div class="caption">
    <h1>The only dispatch platform for mobile healthcare services.</h1>
    <h4>Manage your mobile team, win more work, and dramatically improve patient experience.</h4>
  </div>
  <div class="image">
    <%=image_tag "hero_index@2x.png", alt: "Nurse looking at smartphone" %>
  </div>
</header>

<ul class="columns columns--narrow">
  <li class="column column--center-children">
    <%=image_tag "healthineers.png", class: "responsive-limit", alt: "Siemens Healthineers" %>
  </li>
  <li class="column column--center-children">
    <%=image_tag "vault.png", class: "responsive-limit", alt: "Vault Health" %>
  </li>
  <li class="column column--center-children">
    <%=image_tag "phlebotek.png", class: "responsive-limit", alt: "Phlebotek" %>
  </li>
</ul>

<div class="columns margin-y-xlarge">
  <div class="column">
    <h4>
      Replace spreadsheets, 'where are you' texts, and piles of email
      with Workpath.
    </h4>
  </div>
</div>

<section class="columns columns--pull-left">
  <div class="column column--66 no-pad center-children">
    <%=image_tag "routing.png", class: "cover", alt: "Right job, meet right team member"
    %>
  </div>
  <div class="column column--center-children">
    <div class="talker">
      <h5 class="text-admiral">
        Right job, meet right team member.
      </h5>
      <p class="large">
        Stop playing matchmaker between jobs and team members.
        Workpath automatically routes jobs to the person with the
        right skills. No more texting “is this something you can do?”
      </p>
      <a href="/platform" class="btn">
        See all features
      </a>
    </div>
  </div>
</section>

<section class="columns columns--pull-right columns--reverse">
  <div class="column column--center-children">
    <div class="talker">
      <h5 class="text-admiral">
        Real mobile health team management.
      </h5>
      <p class="large">
        Workpath is made for mobile—so you can dispatch, track, and
        communicate with your team from anywhere. No more texting or
        email threads.
      </p>
      <a href="/platform" class="btn">
        Get a demo
      </a>
    </div>
  </div>
  <div class="column column--66 no-pad">
    <%=image_tag "mobile.png", class: "cover", alt:"Real mobile health team management" %>
  </div>
</section>

<div class="columns margin-y-large">
<div class="column align-right">
  <p class="xlarge color-quartz">
    Want to know how Workpath can help with your specific business?
  </p>
  <p class="large color-hull">
    <a href="/casestudies">See case studies on some successful partnerships. &rarr;</a>
  </p>
</div>
</div>

<div class="breakout bgcolor-fog padding-y-xlarge">
<div class="columns">
  <div class="column column--75 column--spaced margin-top-medium margin-bottom-medium">
    <h4>Just like your patients, we know you want results.</h4>
    <p class="large">
      Businesses that move to Workpath grow the good numbers and
      shrink the not so good. You also gain a partner in streamlining
      your workflow and winning more work.
    </p>
  </div>
</div>
<div class="columns columns--wrap">
  <div class="column column--75 margin-top-medium">
    <h4>
      40% Decrease in phone calls
    </h4>
  </div>

  <div class="column column--75">
    <h4>
      <span class="number-holder color-scrub">
      65% Reduction in email volume
    </h4>
  </div>

  <div class="column column--75">
    <h4>
      98% Appointment compliance
    </h4>
  </div>
</div>
</div>

<div class="breakout white padding-top-medium">
<div class="columns">
  <div class="column align-center">
    <h5 class="padding-y-medium">
      Whoever said, "I love using our team dashboard?" <br />
      Workpath users, that’s who.
    </h5>
  </div>
</div>

<div class="columns columns--pack-tight">
  <div class="bordered">
    <div class="quote">
      <p>
        “Workpath enables our customers—from hospitals to outpatient imaging centers to urgent care facilities and beyond—to address the increasing need for imaging studies and the shortage of radiologic technologists.”
      </p>
    </div>

    <div class="citation">
      <p class="large color-hull">Nanci Wozniak</p>
      <p class="small color-quartz">VP of Education & Workforce Solutions, Siemens Healthineers</p>
    </div>
  </div>

  <div class="bordered">
    <div class="quote">
      <p>
        “Workpath has been essential in allowing us to quickly scale our mobile telehealth team. Vault has been able to safely and efficiently supervise the at-home testing process vital to helping people across the United States.”
      </p>
    </div>

    <div class="citation">
      <p class="large color-hull">Jason Feldman</p>
      <p class="small color-quartz">Founder/CEO, Vault Health</p>
    </div>
  </div>

  <div class="bordered">
    <div class="quote">
      <p>
        “Workpath has helped reduce the manpower needed for each job while growing our volume. If we didn’t have the Workpath system we would still have to focus an additional 5 to 10 people working on all of our accounts just to get everything done.”
      </p>
    </div>

    <div class="citation">
      <p class="large color-hull">Jacqueline Rivera</p>
      <p class="small color-quartz">COO, Phlebotek</p>
    </div>
  </div>
</div>